{% load static %}

<link rel="stylesheet" href={% static "Home\css\style.css" %}>
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

<!-- Footer -->
    <footer class="footer">
        <div class="footer-top s-bg-dark-blue py-md">
            <div class="graphics">
                <div class="graphic graphic-1">
                    <img src={% static "Home\img\shapes\1.png" %} alt="">
                </div>
                <div class="graphic graphic-2">
                    <img src={% static "Home\img\shapes\1.png" %} alt="">
                </div>
                <div class="graphic graphic-3">
                    <img src={% static "Home\img\shapes\1.png" %} alt="">
                </div>
                <div class="graphic graphic-4">
                    <img src={% static "Home\img\shapes\1.png" %} alt="">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 footer-widget order-1">
                        <div class="footer-widget-inner">
                            <a href="" class="footer-logo">
                                <img src={% static "Home/img/logo/logo-white.png"%} alt="" class="img-fluid">
                            </a>
                            <p>Innovation Geeks Covid statistics has been developed on the besis of guidelines from the WHO and WHFW for
                                prevention of all human from Coronavirus COVID -19 diseases. </p>
                            <ul class="social">
                                <li>
                                    <a href="https://www.instagram.com/innovation._.geeks/"><i class="lab la-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/INNOVATIONGEEK1"><i class="lab la-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/INNOVATION-GEEKS-IN"><i class="lab la-github"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="lab la-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 footer-widget order-3 order-lg-2 mt-5 mt-lg-0">
                        <div class="footer-widget-inner">
                            <h4 class="f-widget-title">Developers</h4>
                            <ul>
                                <li><a href="https://vishaldhanasek.github.io/">Vishal D </a></li>
                                <li><a href="https://hari-krishna-moorthy.github.io/">Hari Krishna Moorthy</a></li>
                                <li><a href="https://jeyasri001.netlify.app/">Jeyasri</a></li>
                                <li><a href="#">Gajendar Singh</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 footer-widget order-4 order-lg-3 mt-5 mt-lg-0">
                        <div class="footer-widget-inner">
                            <h4 class="f-widget-title">Useful Links</h4>
                            <ul>
                                <li><a href="https://www.who.int/">World Health Organization</a></li>
                                <li><a href="#">Corona Pandemic</a></li>
                                <li><a href="https://techloopi.blogspot.com/">Our Blogs</a></li>
                                <li><a href="#symptoms" data-scroll>Symptoms</a></li>
                                <li><a href="#prevention" data-scroll>Prevention</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 footer-widget covid-fund order-2 order-lg-4 mt-5 mt-md-0">
                        <div class="footer-widget-inner">
                            <h4 class="f-widget-title"></h4>
                            <a href="" class="footer-logo">
                                <img src={% static "Home/img/logo/sece.png"%} alt="" class="img-fluid">
                            </a>
                            <h5></h5>
                            <p></p>
                            <!a href="#" class="btn btn-sm btn-primary">
                                <!i class="las la-donate"><!/i>
                            
                            <!/a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom s-bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mx-auto text-center">
                        <div class="f-bottom-info">
                            <h6 class="text-white">Copyright &copy; 2020 <a href="#">Innovation Geeks</a>. All rights
                                reserved.</h6>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
